<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Votação do Almoço da DBServer: Administração</title>

    <!-- Bootstrap -->
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .row {
            margin-bottom: 20px;
        }
        .row .row {
            margin-top: 10px;
            margin-bottom: 0;
        }
        [class*="col-"] {
            padding-top: 15px;
            padding-bottom: 15px;
            /* background-color: #eee;
             background-color: rgba(86,61,124,.15);
             border: 1px solid #ddd;
             border: 1px solid rgba(86,61,124,.2);*/
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="theme/js/bootstrap.min.js"></script>

    <div class="container">

        <div class="row">
            <div class="col-md-2">
                <b>Usuário: </b>
                <span th:text="${username}">Nome do Usuário</span>
            </div>
            <div class="col-md-4">
                <a class="logoutLink"
                   href="/logout"
                   th:href="@{/logout}">
                    Desconectar
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <b>Hora Atual: </b>
            </div>
            <div class="col-md-4">
                <span th:text="${now}">
                    A hora "atual"
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <b>Semana Atual:</b>
            </div>
            <div class="col-md-4">
                <span th:text="${weekStart}">Início</span>
                            até
                <span th:text="${weekEnd}">Fim</span>
            </div>
        </div>

        <form method="post" action="/admin">
            <input type="hidden" name="action" value="setTime">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>

            <div class="row">
                <div class="col-md-2"><b>Ajustar hora para:</b></div>
                <div class="col-md-2">
                    <input value="12" size="2" maxlength="2" name="hours" required/>
                    :
                    <input value="00" size="2" maxlength="2" name="minutes" required/>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Enviar"/>
                </div>
            </div>
        </form>

        <br>

        <form method="post" action="/admin">
            <input type="hidden" name="action" value="gotoTomorrow"/>
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <input type="submit" value="Próximo Dia">
                </div>
            </div>
        </form>

        <br>

        <div class="row" id="restaurantListDiv">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Restaurante</td>
                        </tr>
                    </thead>

                    <tr th:each="restaurant : ${availableRestaurants}">
                        <td>
                            <a href="/votes"
                               th:href="@{/vote(restaurantId=${restaurant.id})}">
                                <span th:text="${restaurant.name}">Nome do Restaurante</span>
                            </a>
                        </td>
                    </tr>
                    <tr th:each="restaurant : ${unavailableRestaurants}">
                        <td>
                            <del th:text="${restaurant.name}">Restaurante Não Disponível</del>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <b>Resultados (parciais) da Votação de hoje</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <td>Restaurante</td>
                            <td># Votos</td>
                        </tr>
                    </thead>

                    <tr th:each="r : ${ballotResults}">
                        <td th:text="${r.restaurantName}">Nome do Restaurante</td>
                        <td th:text="${r.nVotes}">Número de Votos</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>