<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Votação do Almoço da DBServer</title>

    <!-- Bootstrap -->
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .row {
            margin-bottom: 20px;
        }
        .row .row {
            margin-top: 10px;
            margin-bottom: 0;
        }
        [class*="col-"] {
            padding-top: 15px;
            padding-bottom: 15px;
            /* background-color: #eee; */
            /* background-color: rgba(86,61,124,.15); */
            /* border: 1px solid #ddd; */
            /* border: 1px solid rgba(86,61,124,.2); */
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="theme/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <b>Usuário: </b>
            <span th:text="${username}">Nome do Usuário</span>
        </div>
        <div class="col-md-4">
            <a class="logoutLink"
               href="/logout"
               th:href="@{/logout}">
                Desconectar
            </a>
        </div>
    </div>

    <div th:if="${!lunchTime}">
        <div class="row">
            <div class="col-md-6">
                <b>Ainda não é hora do almoço!</b>
                <span th:if="${!userHasVoted}">
                    O que você quer comer hoje?
                </span>
            </div>
        </div>

        <div th:if="${!userHasVoted}">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr><td>Restaurante</td></tr>
                        </thead>
                        <tr th:each="restaurant : ${availableRestaurants}">
                            <td>
                                <a href="/votes"
                                   th:href="@{/vote(restaurantId=${restaurant.id})}">
                                    <span th:text="${restaurant.name}">Nome do Restaurante</span>
                                </a>
                            </td>
                        </tr>
                        <tr th:each="restaurant : ${unavailableRestaurants}">
                            <td>
                                <del th:text="${restaurant.name}">Restaurante Não Disponível</del>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> <!-- !userHasVoted -->

        <div th:if="${userHasVoted}">
            <div class="row">
                <div class="col-md-6">
                    <b>Você já votou!</b> Aguarde o resultado da votação
                </div>
            </div>
        </div> <!-- userHasVoted -->
    </div> <!-- !lunchtime -->
    <div th:if="${lunchTime}">
        <div class="row">
            <div class="col-md-6">
                <b> Hora do Almoço!</b>
                <div th:if="${restaurant != null}">
                    O restaurante escolhido foi <b th:text="${restaurant}">restaurante</b>
                </div>

                <div th:if="${restaurant == null}">
                    Não foi escolhido um restaurante!
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div id="resultDiv">
                    <b>Resultado da Votação</b>
                    <br>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <td>Restaurante</td>
                            <td># Votos</td>
                        </tr>
                        </thead>
                        <tr th:each="r : ${ballotResults}">
                            <td th:text="${r.restaurantName}">Nome do Restaurante</td>
                            <td th:text="${r.nVotes}">Número de Votos</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- lunchTime-->
</div>
</body>
</html>