<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="5;/">
        <title>Registro de Voto</title>
    </head>
    <body>
        <div id="erroDiv" th:if="${error != null}">
            <b>Erro: </b> <span th:text="${error}">Mensagem de Erro</span>
            <br>
            <a th:href="@{/}" href="isItLunchTime.html">Voltar</a>
        </div>

        <div id="registroDiv" th:if="${error == null}">
            Seu voto para <i th:text="${restaurant}">Nome do Restaurante</i> foi registrado com sucesso
            <br>
            <a th:href="@{/}" href="isItLunchTime.html">Voltar</a>
        </div>
    </body>
</html>